<!--<div><div class="create" >Enter Title: </div><div><input type="text" [(ngModel)]="blogTitle"></div>-->
  <!--<div class="create">Enter Technology: </div><div><input type="text" [(ngModel)]="technology"></div>-->
<!--<div class="create">Enter Content: </div><div><textarea rows="4" cols="50" [(ngModel)]="blogContent" >-->

<!--</textarea></div>-->
  <!--&lt;!&ndash;<div class="create">Enter url: </div><div><input type="text" [(ngModel)]="imageUrl"></div>&ndash;&gt;-->
  <!--<button (click)="addBlog(blogTitle,technology,blogContent)">Add</button>-->
<!--</div>-->

<div class="w3-container rona1">

  <div><h3>Create your blog here</h3></div>
  <p>
    <label>Enter Title:</label>
    <input class="w3-input rona" [(ngModel)]="blogTitle" type="text"></p>
  <p>
    <label>Enter Technology</label>
    <input class="w3-input rona" [(ngModel)]="technology" type="text"></p>
  <p>
    <label>Enter Content</label>
    <textarea rows="4" cols="50" class="w3-input rona" [(ngModel)]="blogContent" type="text"></textarea></p>
  <p>
    <button class="w3-button w3-teal" (click)="addBlog(blogTitle,technology,blogContent)">Create Blog</button></p></div>
